
#updateBtn {
    background-color: orange !important;
}

#updateBtn:hover {
    background-color: rgb(144, 97, 11) !important;
}

/* .card {
    background-color: #FFE0B2;
} */
.card {
    background-color: rgba(255, 224, 178, 0.7);
    /* background-image: url('logo.png'); */
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center; 
}

.card-body {
    background-color: transparent; 
}

.form-control {
background-color: rgba(255, 255, 255, 0.7);
}