body{
    font-family: 'Lexend', sans-serif;
}

hr{
    border: 3px solid #ffb13d;
}

.formHeader{
    font-weight: bold;

}

.btn{
    background-color: #FFBD59;
    color: white;
    width: 100px;
}

.btn:hover{
    background-color: #ffb13d;
}

.left-panel{

    background-color: #FFBD59;
    min-height: 100vh;
    color:white;
    overflow: hidden;

}

.left-panel img{
    position: relative;
    bottom:0;
    height: auto;
    max-width: 200%;
    transform: translateY(100px);

    
}

@media (max-width: 768px) {
    .left-panel{
        min-height: 50vh;
    }
    .left-panel img {
        height: auto;
        max-width: 100%;
        transform: translateY(50px); 
    }
}

.span-link{
    color: rgb(179, 178, 178);
    text-decoration: none;
    
}